<div class="top_bar" id="top_bar">
    <div id="logo" style="left: 50%; position: absolute; transform: translateX(-50%);">
        <img src="/static/images/logo.png" height="50px" width="50px" style="margin-top: 5px">
    </div>
    <a href="{{ url_for('app_logout') }}"><div id="logout_button" class="edit_box_button">LOGOUT</div></a>
    <div class="info_box">
        <div>
            <a href="{{ url_for('user_panel') }}" class="top_bar_username">{{ current_user.name }}</a>
        </div>
        {% if current_user.team %}
            {{ current_user.team.name }}
        {% elif sprint_info%}
            <div>{{ sprint_info }}</div>
        {% endif %}
    </div>
</div>